{% extends "core/base.html" %}
{% load truncate %}
{% load dates %}

{% block title %}{{ news_item.title }}{% endblock title %}

{% block reading_options_bar %}
    {% include "common/elements/journal/reading_options_bar.html" %}
{% endblock reading_options_bar %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-format-region">{{ news_item.title }}</h1>
            <hr aria-hidden="true" />
        </div>
        <div class="col-md-12">
            <p class="byline text-format-region">Posted by {{ news_item.posted_by.full_name }} on {{ news_item.posted|date_human }}</p>
            <div class="text-format-region">{{ news_item.body|safe }}</div>
            <br />
            {% if news_item.tags.all %}
                <h2 id="tags-heading">{% trans 'Tags' %}&nbsp;<i aria-hidden="true" class="fa fa-tags">&nbsp;</i></h2>
                <ul class="list-inline comma-sep">
                    {% for tag in news_item.tags.all %}
                        <li><a href="{% url 'core_news_list_tag' tag.text %}">{{ tag.text }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{% url 'core_news_list' %}">{% trans 'Back to News List' %}</a>
        </div>
    </div>

{% endblock body %}
